<div class="row">
  <div class="col-md-4 text-center">
    <div class="form-actions">
      <button type="submit" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Save
      </button>
      <button class="btn btn-warning btn-sm" {{action 'cancel'}}>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Cancel
      </button>
    </div>
  </div>
</div>