<legend>Games List</legend>
<div class="row">
  <div class="col-md-1">
    {{#link-to 'games.new' class="btn btn-primary"}}
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      New Game
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Home</th>
        <th>Away</th>
      </tr>
      </thead>
      <tbody>
      {{#each model as |game|}}
      {{else}}
        <tr>
          <td colspan="3"> No games (((</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>