<form {{action 'save' on="submit"}} class="form-horizontal">
  <legend>Edit Team</legend>

  {{partial "teams/edit_fields"}}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn" {{action 'cancel'}}>Cancel</button>
  </div>
</form>
