<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      {{#link-to 'teams.new' class='btn btn-primary'}}New Team{{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
        <tr>
          <th>Team Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each controller as |team| }}
          <tr>
            <td>
              {{#link-to 'teams.show' team}}
                {{team.name}}
              {{/link-to}}
            </td>
            <td>{{team.description}}</td>
            <td>{{#link-to 'teams.edit' team class="btn btn-default btn-xs"}}Edit{{/link-to}} </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>