<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      {{#link-to 'teams.edit' model class="btn btn-default"}}Edit Team{{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>{{name}}</h5>

      <p>{{description}}</p>

      <h4>Players</h4>

      <div class="row">
        {{#each player in model.players}}
          <p>{{player.firstName}} {{player.lastName}}</p>
        {{/each}}
      </div>
    </div>
  </div>

</div>